{% extends 'base.html' %}

{% block slider %}

{% endblock %}


{% block content %}
<div class="mx-auto">
    <div class="row">
        <div class="col-md-6">   
            <form method="POST" action="{% url 'user:login'%}">
                {% csrf_token %}
                <div class="mb-3">
                <label for="{{ form.username.id_for_label}}" class="form-label">Логин</label>
                {{ form.username }}
                <div id="emailHelp" class="form-text">Логин не меньше 5 символов и не более 30</div>
                </div>
                <div class="mb-3">
                <label for="{{ form.password.id_for_label}}" class="form-label">Пароль</label>
                {{ form.password }}
                </div>
               
                <button type="submit" class="btn btn-primary">Аутентифицироваться</button>
            </form>
        </div>
    </div>
</div>      


{% endblock %}