<!DOCTYPE html>
<html lang="ru">
    {% include 'components/head.html' %}
    <body>
        {% include 'components/header.html' %}
        <!-- Page header with logo and tagline-->
        {% for message in messages %}
        <div class="alert 
        alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}" role="alert">
                {{ message }}
        </div>    
        {% endfor %}
        {% block slider %}
         {% include 'components/slider.html'%}
         {% endblock %}
        
        <!-- Page content-->
        {% block content %}
        {% endblock %}
        <!-- Footer-->
        {% include 'components/footer.html' %}
    </body>
</html>
